root {
    --theme-color: white;
    /*--primary-color: #8C30F5;*/
    --secundary-color:black;
    --text-color-inverse: white;
    --text-color: black;
   /* --menu-mobile-background-color: white;*/
  }
  html,body{
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
  }

  