.text-container {
  font-size: 50px;
  color: black;
  text-align: center;
  padding-top: 150px;
  font-weight: bolder;
}

.list-logos {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

ul.list-logos img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.text-venefic {
  max-width: 980px;
  margin: 0 auto;
}

.text-venefic p {
  font-size: 48px;
  font-weight: bold;
}

@media (max-width: 980px) {
  ul.list-logos img {
    margin: -0.75rem;
  }
  .text-container {
    font-size: 2.5rem;
    padding-top: 2rem;
  }
}
